@charset "UTF-8";
.text-gradient[data-text]::after {
  content: attr(data-text);
  color: #ffdf38;
  position: absolute;
  left: 0;
  z-index: 2;
  -webkit-mask-image: -webkit-gradient(linear, 0 0, 0 bottom, from(white), to(#fcd401));
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

html,
body {
  min-height: 100%;
  height: 100%;
}

body {
  font-family: "微软雅黑";
  font-size: 14px;
}

.cwhite {
  color: #fff;
}

.btn-bgcolor, .vote-ranking .ranking-title {
  background-color: #e90004;
}

.index-body {
  padding-bottom: 20px;
  background: url(../images/line_bj_1.jpg);
  background-repeat: repeat-y;
  background-size: 100% 100%;
  background: -moz-linear-gradient(top, #fde6bc, #ffedd5);
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#fde6bc), to(#ffedd5));
  background: -o-linear-gradient(top, #fde6bc, #ffedd5);
  clear: both;
}

.vshow-body {
  padding-bottom: 20px;
  background: url(../images/line_bj_1.jpg);
  background-repeat: repeat-y;
  background-size: 100% 100%;
  background: -moz-linear-gradient(left, #ffecce, #ffefd6);
  background: -webkit-gradient(linear, 0 0, right 0, from(#ffecce), to(#ffefd6));
  background: -o-linear-gradient(left, #ffecce, #ffefd6);
  clear: both;
}

.logo {
  padding: 20px 0 0 0;
  margin: 0 -15px;
  text-align: center;
}

.logo img {
  max-width: 100%;
}

.logo2 {
  padding: 10px 0 0 0;
  margin: 0 -15px;
  text-align: center;
}

.logo2 img {
  max-width: 100%;
}

.index-title {
  padding: 20px 0 0 0;
  margin: 0 -15px;
  text-align: center;
}

.index-title img {
  max-width: 100%;
}

.waper {
  background-image: url(../images/bj_1.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.wsj-waper {
  min-height: 100%;
  padding-bottom: 14%;
  background: url(../images/wsj_bj_top.jpg) no-repeat top center, url(../images/wsj_bj_bottom.jpg) no-repeat bottom center;
  background-size: 100%, 100%;
}

.top-bg {
  background: url(../images/bg1.png) no-repeat;
  background-size: 100% auto;
}

.jr-waper {
  min-height: 100%;
  padding-bottom: 14%;
  background: url(../images/jr_index_bottom_bg.png) no-repeat bottom center, url(../images/jr_index_bg.jpg) no-repeat top center, url(../images/jr_index_bg2.jpg) repeat-y;
  background-size: 100%, 100%;
}

.jr-waper .index-title {
  padding: 10px 0 0 0;
}

.jr-waper .zbdy {
  margin: 5px -15px 20px -15px;
}

.jr-waper .indxe-btn {
  margin: 20px auto 10px auto;
}

.pf-waper {
  position: relative;
  min-height: 100%;
  background: url(../images/pf_index_bj_top.jpg) no-repeat top center, url(../images/pf_index_bj.jpg) no-repeat top center;
  background-size: 100%, 100% 100%;
}

.pf-waper .index-title {
  padding: 0;
}

.pf-waper .zbdy {
  margin: 15px -15px 20px -15px;
}

.pf-waper .indxe-btn {
  margin: 0;
}

.sd-waper {
  position: relative;
  min-height: 100%;
  background: url(../images/sd_index_bj.jpg) repeat top center;
  background-size: 100%;
}

.sd-waper .index-title {
  padding: 0;
  margin-top: -50px;
}

.sd-waper .zbdy {
  margin: 15px -15px 20px -15px;
}

.sd-waper .indxe-btn {
  position: absolute;
  bottom: 30px;
  width: 100%;
}

.zf-waper {
  position: relative;
  min-height: 100%;
  background: url("../images/zf_index_bj.jpg") no-repeat top center #fff3c1;
  background-size: 100%, 100%;
}

.zf-waper .zbdy {
  margin: 15px -15px 20px -15px;
}

.zf-waper .indxe-btn {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
}

.zhuj-waper {
  position: relative;
  min-height: 100%;
  background: url("../images/zhuj_index_bj.jpg") no-repeat top center #fff2c1;
  background-size: 100%, 100%;
}

.zhuj-waper .zbdy {
  margin: 15px -15px 20px -15px;
}

.zhuj-waper .indxe-btn {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
}

.lvyou-waper {
  position: relative;
  min-height: 100%;
  background: url("../images/lvyou_index_bj.jpg") no-repeat top center, url("../images/lvyou_index_bj_line.jpg") repeat-y center;
  background-size: 100%, 100%;
}

.lvyou-waper .zbdy {
  margin: 15px -15px 20px -15px;
}

.lvyou-waper .indxe-btn {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
}

.daode-waper {
  position: relative;
  min-height: 100%;
  background: url("../images/daode_index_bj.jpg") no-repeat top center #fdae2d;
  background-size: 100%;
}

.daode-waper .logo {
  padding: 0;
}

.daode-waper .zbdy {
  margin: 20px -15px;
}

.daode-waper .indxe-btn {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
}

.zbdy {
  margin: 30px -15px 35px -15px;
  text-align: center;
}

.zbdy img {
  max-width: 100%;
}

/*----------星风采----------*/
.past-body {
  background: url("../images/bj_1.jpg") no-repeat, url("../images/line_bj_1.jpg") repeat-y;
  background-size: 100% auto;
  padding-bottom: 20px;
}

.past-box {
  width: 100%;
}

.past-box .past-title {
  padding: 20% 0;
  text-align: center;
}

.past-box .past-title img {
  max-width: 66%;
}

.past-box .past-list {
  width: 92%;
  margin: 0 auto;
}

.past-box .past-list a {
  display: block;
  margin-bottom: 10%;
}

.past-box .past-list a.btn {
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -o-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
}

/*-----------口号----------*/
.index-slogan {
  padding: 24px 0 20px 0;
  font-family: "黑体";
  font-size: 20px;
  line-height: 20px;
  color: #000;
  font-weight: bold;
  text-align: center;
}

/*-----------投票时间，规则----------*/
.index-box {
  position: relative;
  width: -webkit-calc(100% - 20px);
  width: calc(100% - 20px);
  padding: 10px;
  margin: -5px auto 0 auto;
  font-family: "黑体";
  color: #000;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -o-border-radius: 9px;
  -ms-border-radius: 9px;
  border-radius: 9px;
}

.index-box-title {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 10px;
}

.index-box-title span {
  display: inline-block;
  position: relative;
  padding: 0 10px;
}

.index-box-title span.title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
}

.index-box-title span.hr {
  position: relative;
  width: 15%;
  height: 2px;
  line-height: 32px;
  background-color: #000;
  vertical-align: middle;
}

.index-box-title span.hr:before {
  position: absolute;
  top: -7px;
  left: -16px;
  width: 16px;
  height: 16px;
  content: "";
  background-color: #000;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.index-box-title span.hr:last-child:before {
  left: auto;
  right: -16px;
}

.index-box .activity-time {
  margin-bottom: 10px;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
}

.index-box ul li {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.wsj-rule {
  margin-bottom: 14%;
}

.wsj-rule .index-box {
  width: -webkit-calc(100% - 40px);
  width: calc(100% - 40px);
  padding: 20px;
  background: #f3ddf3;
}

.wsj-rule .index-box .hart {
  width: 17.5%;
  position: absolute;
  top: -25px;
  left: -8px;
}

.wsj-rule .index-box .hart img {
  width: 100%;
}

.pf-rule {
  margin-bottom: 30%;
}

.pf-rule .index-box {
  width: -webkit-calc(100% - 40px);
  width: calc(100% - 40px);
  padding: 20px 20px 40px 20px;
  background: rgba(240, 187, 181, 0.55);
}

.pf-index-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 120px 0 80px 0;
  background: url(../images/pf_index_bj_bottom.png) no-repeat bottom;
  background-size: 100%;
}

.pf-index-bottom.indxe-btn .btn {
  position: absolute;
  bottom: 5.5vh;
  margin-left: -25%;
}

.sd-rule {
  width: 100%;
}

.sd-rule img {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.sd-rule .index-box {
  width: -webkit-calc(100% - 40px);
  width: calc(100% - 40px);
  padding: 20px 20px 40px 20px;
  color: #fff;
  background: rgba(240, 187, 181, 0);
}

.zhuj-rule {
  margin-bottom: 30%;
}

.zhuj-rule .index-box {
  width: -webkit-calc(100% - 40px);
  width: calc(100% - 40px);
  padding: 20px 20px 40px 20px;
  background: rgba(240, 187, 181, 0.55);
}

.lvyou-rule {
  z-index: 2;
  margin-bottom: 130px;
}

.lvyou-rule .index-box {
  width: -webkit-calc(100% - 40px);
  width: calc(100% - 40px);
  padding: 20px 20px 40px 20px;
  background: rgba(0, 0, 0, 0.1);
}

.daode-rule {
  z-index: 2;
  margin-bottom: 130px;
}

.daode-rule .index-box {
  width: -webkit-calc(100% - 22px);
  width: calc(100% - 22px);
  padding: 20px 24px;
  background: rgba(255, 255, 255, 0.3);
}

.zhuj-index-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 120px 0 80px 0;
  background: url(../images/zhuj_index_bg_bottom.png) no-repeat bottom;
  background-size: 100%;
}

.zhuj-index-bottom.indxe-btn .btn {
  position: absolute;
  bottom: 5.5vh;
  margin-left: -25%;
}

.zf-index-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 120px 0 80px 0;
  background-size: 100%;
}

.zf-index-bottom.indxe-btn .btn {
  position: absolute;
  bottom: 5.5vh;
  margin-left: -25%;
}

.lvyou-index-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 120px 0 80px 0;
  background: url("../images/lvyou_index_bottom_bj.png") no-repeat bottom;
  background-size: 100%;
}

.lvyou-index-bottom.indxe-btn .btn {
  position: absolute;
  bottom: 5.5vh;
  margin-left: -25%;
}

.list-unstyled p {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

/*-----------首页投票按钮----------*/
.indxe-btn {
  margin: 10px auto;
  text-align: center;
}

.indxe-btn .btn {
  width: 50%;
  height: 54px;
  font-size: 26px;
  line-height: 34px;
  font-weight: 400;
  color: #fff;
  letter-spacing: 2px;
}

/*-----------投票页面 背景----------*/
.vote-body {
  background-image: url(../images/bj-top.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;
  background-color: #f3bc7c;
}

.wsj-body {
  background: url(../images/wsj_bj_top2.jpg) no-repeat top center #f3bc7c;
  background-size: 100%;
}

.wsj-body .container:first-child {
  width: 100%;
  margin-bottom: -20px;
  background: url(../images/wsj_bj_bottom2.jpg) no-repeat bottom center;
  background-size: 100%;
}

.wsj-body .logo {
  padding: 0;
}

.wsj-body .index-title {
  padding: 0;
}

.wsj-body .zbdy {
  margin: 20px -15px 35px -15px;
}

.wsj-body .zbdy img {
  margin-left: -50px;
}

.jr-body {
  background: #f3bc7c;
  background-size: 100%;
}

.jr-body .container:first-child {
  width: 100%;
  margin-bottom: -20px;
  background: url(../images/jr_bg_top2.jpg) no-repeat bottom center;
  background-size: 100%;
  overflow: hidden;
}

.jr-body .logo {
  padding: 15px 0 0 0;
}

.jr-body .index-title {
  padding: 15px 0 0 0;
}

.jr-body .zbdy {
  margin: 5px -15px 35px -15px;
  padding: 0 10.15625vw 0 12.8125vw;
  font-size: 12px;
  color: #ff372d;
  text-align: left;
}

.jr-body .zbdy ul {
  padding: 0;
}

.jr-body .zbdy ul li {
  list-style: none;
  display: flex;
}

.jr-body .zbdy ul li .zbdy-title,
.jr-body .zbdy ul li .zbdy-content {
  display: block;
  z-index: 0;
  position: relative;
}

.jr-body .zbdy ul li .zbdy-title:after,
.jr-body .zbdy ul li .zbdy-content:after {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  content: attr(data-text);
  -webkit-text-stroke: 2px #fff;
}

.jr-body .zbdy ul li .zbdy-title {
  width: 75px;
}

.jr-body .zbdy ul li .zbdy-content {
  width: -webkit-calc(100% - 75px);
  width: calc(100% - 75px);
}

.jr-body .zbdy img {
  max-width: 100%;
}

.pf-body {
  background: #f3bc7c;
  background-size: 100%;
}

.pf-body .container:first-child {
  width: 100%;
  margin-bottom: -20px;
  background: url(../images/pf_vote_bj_top2.jpg) no-repeat bottom center;
  background-size: 100% 100%;
  overflow: hidden;
}

.pf-body .logo {
  padding: 10px 0 0 0;
}

.pf-body .index-title {
  padding: 0;
}

.pf-body .zbdy {
  margin: 10px -15px 25px -15px;
}

.pf-body .zbdy img {
  margin-left: -10px;
}

.sd-body {
  background: #f3bc7c;
  background-size: 100%;
}

.sd-body .container:first-child {
  width: 100%;
  margin-bottom: -20px;
  background-size: 100% 100%;
  overflow: hidden;
}

.sd-body .logo {
  padding: 0;
}

.sd-body .vote-box .vote-title {
  padding: 25px 0 0 0;
}

#vote_num {
  z-index: 100;
  position: relative;
  margin-top: 20px;
}

#vote_num .vote-position {
  position: relative;
  left: 0;
  right: 0;
}

#vote_num .wsj-vote-position {
  position: relative;
  left: 0;
  right: 0;
  background-color: #f3bc7c;
}

#vote_num .wsj-vote-position .header-title .col-cell {
  width: 100%;
  text-align: center;
}

#vote_num .wsj-vote-position .header-title .col-cell img {
  max-width: 100%;
}

#vote_num .wsj-vote-position .header-title .col-cell a {
  transition: all .3s;
}

#vote_num .wsj-vote-position .header-title .col-cell a.active {
  background-color: #cd0000;
}

#vote_num .wsj-vote-position .vote-num .col-cell {
  width: 100%;
  text-align: center;
}

#vote_num .daode-position .header-title .col-cell a {
  transition: all .3s;
}

#vote_num .daode-position .header-title .col-cell a.active {
  background-color: rgba(107, 3, 3, 0.5);
}

#vote_num .daode-position .vote-num .col-cell {
  height: 36px;
  line-height: 36px;
  background-color: #fff;
}

.header-title {
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  white-space: 2;
  background-color: #cd0000;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
  -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
  -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
}

.header-title .col-cell {
  width: -webkit-calc(100% / 5);
  width: calc(100% / 5);
}

.header-title .col-cell a {
  display: flex;
  position: relative;
  min-height: 50px;
  padding: 3px 0;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
}

.header-title .col-cell a.active {
  background-color: #fff;
  color: #cd0000;
  /*text-shadow: 0 1px 1px rgba(255, 0, 0, .2);*/
}

.vote-num {
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 36px;
  margin: 0 auto;
  padding: 8px 0;
  color: #e80005;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}

.vote-num .col-cell {
  width: -webkit-calc(100% / 5);
  width: calc(100% / 5);
  text-align: center;
  vertical-align: middle;
  border-right: 1px solid #e80005;
}

.vote-num .col-cell:last-child {
  border-right: none;
}

/*-----------投票页面 投票列表----------*/
.vote-box .vote-title {
  width: 100%;
  padding: 15px 0;
  text-align: center;
  font-size: 20px;
}

.vote-box .vote-title canvas {
  margin-bottom: -5px;
  letter-spacing: 2px;
}

.vote-box .vote-title img {
  max-width: 100%;
}

.vote-box .vote-title:not(:first-child) {
  margin-top: -20px;
}

.vote-box .vote-list .col-xs-4 {
  width: 32%;
}

.vote-box .vote-list ul {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.vote-box .vote-list ul li {
  margin: 0 .5% 20px .7%;
  padding: 0 0 5px 0;
  list-style: none;
  font-size: 14px;
  color: #fff;
  border: 4px solid white;
}

.vote-box .vote-list ul li .picture {
  overflow: hidden;
}

.vote-box .vote-list ul li .picture img {
  width: 100%;
}

.vote-box .vote-list ul li .content ol li {
  padding: 5px 2px 0 2px;
  margin: 0;
  line-height: 18px;
  list-style: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  border: none;
}

.vote-box .vote-list ul li .content ol li:first-child {
  letter-spacing: -1px;
}

.vote-box .vote-list ul li .content ol li.note, .vote-box .vote-list ul li .content ol li:last-child {
  height: 56px;
  line-height: 18px;
  text-overflow: inherit;
  white-space: normal;
  overflow: hidden;
}

.vote-box .vote-list ul li .btn-box {
  margin-top: 10px;
  text-align: center;
}

.vote-box .button-box {
  margin: 20px 0;
}

.vote-box .button-box .btn {
  font-size: 26px;
  line-height: 30px;
  font-weight: 500;
  letter-spacing: 4px;
}

.vote-box .wsj-vote-list {
  margin-top: 20px;
}

.vote-box .wsj-vote-list ul li {
  border: 2px solid #f9ca4f;
}

/*---------留言内容--------*/
.message-submit {
  margin-top: 20px;
}

.message-submit .col-xs-3 {
  padding-left: 10px;
  padding-right: 10px;
}

.message-submit .control-label {
  line-height: 34px;
}

.vote-message {
  width: 96%;
  margin: 20px auto;
  padding: 10px;
  height: 480px;
  background-color: #fff;
  overflow-y: auto;
}

.vote-message a {
  text-decoration: none;
}

.vote-message ul li {
  margin-bottom: 20px;
  color: #000;
  font-size: 16px;
  line-height: 20px;
  list-style: none;
}

.vote-message ul li.content {
  text-indent: 30px;
}

/*---------广告图片--------*/
.vote-advert {
  width: 100%;
}

.vote-advert img {
  width: 100%;
}

/*---------投票排行榜--------*/
.vote-ranking {
  width: 100%;
  font-family: "黑体";
  font-weight: bold;
  color: #000;
  background-color: #f3b77b;
}

.vote-ranking .ranking-title {
  display: flex;
  align-items: center;
  padding: 1rem 0 .5rem 0;
  text-align: center;
}

.vote-ranking .ranking-title .text-gradient {
  display: inline-block;
  color: #ffdf38;
  font-size: 24px;
  font-weight: 400;
  background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(white), to(#ffdf38));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.vote-ranking .ranking-title .text-gradient canvas {
  margin: 0 0 -22px 0;
  text-align: center;
  letter-spacing: 2px;
}

.vote-ranking .ranking-title img {
  max-width: 100%;
}

.vote-ranking .ranking-content {
  width: 100%;
  font-size: 16px;
  font-weight: bold;
}

.vote-ranking .ranking-content a {
  text-decoration: none;
}

.vote-ranking .ranking-content ul li {
  padding: 5px 0;
  border-bottom: 1px dashed #fff;
  list-style: none;
}

.vote-ranking .ranking-content ul li:last-of-type {
  border-bottom: none;
}

.vote-ranking .ranking-content ul li ol {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.vote-ranking .ranking-content ul li ol li {
  text-align: center;
  list-style: none;
  border-bottom: none;
  line-height: 1.2;
  color: #fff;
}

.vote-ranking .ranking-content ul li ol li:nth-child(1) {
  width: 70px;
  padding-left: 5px;
}

.vote-ranking .ranking-content ul li ol li:last-of-type {
  width: 110px;
  padding-right: 10px;
  text-align: right;
}

/*-----弹出样式-----*/
.pop_bg {
  z-index: 101;
  display: none;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.pop_bg .pop_main {
  position: absolute;
  width: 90%;
  left: 5%;
  top: 40px;
}

.pop_bg .pop_main .pop_close {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 3px 3px 1px 3px;
  color: #FFF;
  background-color: #F00;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}

/*弹出样式 END*/
/*-----投票个人详情-----*/
.vote-details {
  width: 94%;
  margin: 0 auto;
  padding: 50px 0 40px 0;
}

.vote-details .personal-header {
  width: 100%;
  overflow: hidden;
}

.vote-details .personal-header img {
  width: 100%;
}

.vote-details .personal-header ul {
  margin-right: -30px;
}

.vote-details .personal-header ul li {
  margin-bottom: 8px;
  font-size: 16px;
  font-family: "黑体";
  font-weight: 600;
  color: #000;
  line-height: 18px;
  list-style: none;
}

.vote-details .personal-header ul li.title {
  margin-right: -20px;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.vote-details .personal-header ul li .left {
  float: left;
  width: 70px;
}

.vote-details .personal-header ul li .right {
  float: right;
  width: -webkit-calc(100% - 70px);
  width: calc(100% - 70px);
}

.vote-details .personal-header .btn {
  width: 110px;
  font-size: 18px;
}

.vote-details .deeds-profile {
  margin-top: 20px;
}

.vote-details .deeds-profile .title {
  height: 40px;
  font-size: 30px;
  color: #000;
  line-height: 40px;
}

.vote-details .deeds-profile .title .btn {
  width: 140px;
  font-family: "黑体";
  font-size: 18px;
}

.vote-details .deeds-profile .content {
  padding-top: 20px;
  font-size: 14px;
  line-height: 20px;
}

.vote-details .deeds-profile .content2 {
  padding-top: 20px;
  font-size: 16px;
  line-height: 26px;
}

.vote-details .deeds-profile .content ul li {
  list-style: none;
  font-size: 18px;
  color: #000;
  line-height: 30px;
}

.vote-details .company {
  margin-top: 20px;
  font-size: 14px;
  color: #000;
  line-height: 30px;
}

/*-----------投票详情页面 背景----------*/
.details-body {
  background-image: url(../images/bj-top2.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;
  background-color: #f2ba7e;
}

.details-waper .details-title {
  padding: 10% 0;
  text-align: center;
}

.details-waper .details-title .top-text {
  display: inline-block;
  color: #ffdf38;
  font-size: 24px;
  font-weight: 400;
  background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(white), to(#ffdf38));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 20px;
  text-shadow: 1px 1px 0 rgba(4, 0, 0, 0.1);
}

.details-waper .details-title .text-gradient {
  display: inline-block;
  color: #ffdf38;
  font-size: 24px;
  font-weight: 400;
  background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(white), to(#ffdf38));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 30px;
  line-height: 48px;
  text-shadow: 1px 1px 0 rgba(4, 0, 0, 0.1);
}

.details-waper .details-box {
  background-image: url(../images/bj-bottom2.jpg);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 100%;
}

.details-waper .details-box .list-title {
  padding: 10px 0;
  text-align: center;
  background-color: #e90004;
  letter-spacing: 5px;
}

.details-waper .details-box .list-title .title {
  display: inline-block;
  color: #ffdf38;
  font-size: 24px;
  font-weight: 400;
  background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(white), to(#ffdf38));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 24px;
  text-shadow: 1px 1px 0 rgba(4, 0, 0, 0.1);
}

.details-waper .details-box .list-box {
  padding: 24px 0 0 0;
}

.details-waper .details-box .list-box ul li {
  margin-bottom: 20px;
  list-style: none;
  color: #000;
}

.details-waper .details-box .list-box ul li img {
  width: 100%;
}

.details-waper .details-box .list-box ul li ol li {
  margin-bottom: 8px;
  list-style: none;
}

.details-waper .details-box .list-box ul li ol li .btn {
  font-weight: bold;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.loading img {
  display: inline-block;
  height: 25px;
  margin-left: 5px;
  vertical-align: middle;
}
