@charset "UTF-8";
// 圆角	
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -o-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

// 阴影
@mixin box-shadow($shadow...) {
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    -o-box-shadow: $shadow;
    -ms-box-shadow: $shadow;
    box-shadow: $shadow;
}

// 文字渐变
@mixin text-gradient {
    display: inline-block;
    color: #ffdf38;
    font-size: 24px;
    font-weight: 400;
    background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(rgba(255, 255, 255, 1)), to(rgba(255, 223, 56, 1)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.text-gradient[data-text]::after {
    content: attr(data-text);
    color: #ffdf38;
    position: absolute;
    left: 0;
    z-index: 2;
    -webkit-mask-image: -webkit-gradient(linear, 0 0, 0 bottom, from(rgba(255, 255, 255, 1)), to(rgba(252, 212, 1, 1)));
}

$font14:14px;
$font16:16px;
$font18:18px;
$font20:20px;
$font24:24px;
$font30:30px;
$font32:32px;
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}

html,
body {
    min-height: 100%;
    height: 100%;
}

body {
    font-family: "微软雅黑";
    font-size: $font14;
}

.cwhite {
    color: #fff;
}

// 按钮背景色
.btn-bgcolor {
    background-color: #e90004;
}

// 背景
.index-body {
    padding-bottom: 20px;
    background: url(../images/line_bj_1.jpg);
    background-repeat: repeat-y;
    background-size: 100% 100%;
    background: -moz-linear-gradient(top, #fde6bc, #ffedd5);
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#fde6bc), to(#ffedd5));
    background: -o-linear-gradient(top, #fde6bc, #ffedd5);
    clear: both;
}

// 详情背景
.vshow-body {
    padding-bottom: 20px;
    background: url(../images/line_bj_1.jpg);
    background-repeat: repeat-y;
    background-size: 100% 100%;
    background: -moz-linear-gradient(left, #ffecce, #ffefd6);
    background: -webkit-gradient(linear, 0 0, right 0, from(#ffecce), to(#ffefd6));
    background: -o-linear-gradient(left, #ffecce, #ffefd6);
    clear: both;
}

.logo {
    padding: 20px 0 0 0;
    margin: 0 -15px;
    text-align: center;
    img {
        max-width: 100%;
    }
}

.logo2 {
    padding: 10px 0 0 0;
    margin: 0 -15px;
    text-align: center;
    img {
        max-width: 100%;
    }
}

.index-title {
    padding: 20px 0 0 0;
    margin: 0 -15px;
    text-align: center;
    img {
        max-width: 100%;
    }
}

.waper {
    background-image: url(../images/bj_1.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
}

// 卫生局主页外框
.wsj-waper {
    min-height: 100%;
    padding-bottom: 14%;
    background: url(../images/wsj_bj_top.jpg) no-repeat top center, url(../images/wsj_bj_bottom.jpg) no-repeat bottom center;
    background-size: 100%, 100%;
}

.top-bg {
    background: url(../images/bg1.png) no-repeat;
    background-size: 100% auto;
}

// 2017-08-10 8月金融系统 
// 外框
.jr-waper {
    min-height: 100%;
    padding-bottom: 14%;
    background: url(../images/jr_index_bottom_bg.png) no-repeat bottom center, url(../images/jr_index_bg.jpg) no-repeat top center, url(../images/jr_index_bg2.jpg) repeat-y;
    background-size: 100%, 100%; // 标题
    .index-title {
        padding: 10px 0 0 0;
    } // 主办单位
    .zbdy {
        margin: 5px -15px 20px -15px;
    } // 首页投票按钮
    .indxe-btn {
        margin: 20px auto 10px auto;
    }
}

// 2017-08-31 9月普法系统 
// 外框
.pf-waper {
    position: relative;
    min-height: 100%;
    background: url(../images/pf_index_bj_top.jpg) no-repeat top center, url(../images/pf_index_bj.jpg) no-repeat top center;
    background-size: 100%, 100% 100%; // 标题
    .index-title {
        padding: 0;
    } // 主办单位
    .zbdy {
        margin: 15px -15px 20px -15px;
    } // 首页投票按钮
    .indxe-btn {
        margin: 0;
    }
}

// 2017-10-10 10月师德
.sd-waper {
    position: relative;
    min-height: 100%;
    background: url(../images/sd_index_bj.jpg) repeat top center;
    background-size: 100%; // 标题
    .index-title {
        padding: 0;
        margin-top: -50px;
    } // 主办单位
    .zbdy {
        margin: 15px -15px 20px -15px;
    } // 首页投票按钮
    .indxe-btn {
        position: absolute;
        bottom: 30px;
        width: 100%;
    }
}

// 2017-10-12 10月住建系统
.zf-waper {
    position: relative;
    min-height: 100%;
    background: url("../images/zf_index_bj.jpg") no-repeat top center #fff3c1;
    background-size: 100%, 100%; // 标题
    .index-title {}
    // 主办单位
    .zbdy {
        margin: 15px -15px 20px -15px;
    } // 首页投票按钮
    .indxe-btn {
        position: absolute;
        bottom: 0;
        width: 100%;
        margin: 0 auto;
    }
}

// 2017-11-14 11月政法系统
.zhuj-waper {
    position: relative;
    min-height: 100%;
    background: url("../images/zhuj_index_bj.jpg") no-repeat top center #fff2c1;
    background-size: 100%, 100%; // 标题
    .index-title {}
    // 主办单位
    .zbdy {
        margin: 15px -15px 20px -15px;
    } // 首页投票按钮
    .indxe-btn {
        position: absolute;
        bottom: 0;
        width: 100%;
        margin: 0 auto;
    }
}

// 2017-11-24 12月旅游系统
.lvyou-waper {
    position: relative;
    min-height: 100%;
    background: url("../images/lvyou_index_bj.jpg") no-repeat top center, url("../images/lvyou_index_bj_line.jpg") repeat-y center;
    background-size: 100%, 100%; // 标题
    .index-title {}
    // 主办单位
    .zbdy {
        margin: 15px -15px 20px -15px;
    } // 首页投票按钮
    .indxe-btn {
        position: absolute;
        bottom: 0;
        width: 100%;
        margin: 0 auto;
    }
}

// 2018-01-29 1月道德评选
.daode-waper {
    position: relative;
    min-height: 100%;
    background: url("../images/daode_index_bj.jpg") no-repeat top center #fdae2d;
    background-size: 100%;
    .logo {
        padding: 0;
    } // 标题
    .index-title {}
    // 主办单位
    .zbdy {
        margin: 20px -15px;
    } // 首页投票按钮
    .indxe-btn {
        position: absolute;
        bottom: 0;
        width: 100%;
        margin: 0 auto;
    }
}

// 主办单位
.zbdy {
    margin: 30px -15px 35px -15px;
    text-align: center;
    img {
        max-width: 100%;
    }
}

/*----------星风采----------*/

.past-body {
    background: url("../images/bj_1.jpg") no-repeat, url("../images/line_bj_1.jpg") repeat-y;
    background-size: 100% auto;
    padding-bottom: 20px;
}

.past-box {
    width: 100%; //星风采标题
    .past-title {
        padding: 20% 0;
        text-align: center;
        img {
            max-width: 66%;
        }
    } //星风采按钮
    .past-list {
        width: 92%;
        margin: 0 auto;
        a {
            display: block;
            margin-bottom: 10%;
            &.btn {
                width: 100%;
                font-size: $font20;
                font-weight: bold;
                @include border-radius(30px);
            }
        }
    }
}

/*-----------口号----------*/

.index-slogan {
    padding: 24px 0 20px 0;
    font-family: "黑体";
    font-size: $font20;
    line-height: $font20;
    color: #000;
    font-weight: bold;
    text-align: center;
}

/*-----------投票时间，规则----------*/

.index-box {
    position: relative;
    width: -webkit-calc(100% - 20px);
    width: calc(100% - 20px);
    padding: 10px;
    margin: -5px auto 0 auto;
    font-family: "黑体";
    color: #000;
    background-color: rgba(255, 255, 255, .2);
    @include border-radius(9px);
    &-title {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-bottom: 10px;
        span {
            display: inline-block;
            position: relative;
            padding: 0 10px;
            &.title {
                font-size: $font18;
                line-height: $font30;
                font-weight: 400;
                text-align: center;
            }
            &.hr {
                position: relative;
                width: 15%;
                height: 2px;
                line-height: $font32;
                background-color: #000;
                vertical-align: middle;
                &:before {
                    position: absolute;
                    top: -7px;
                    left: -16px;
                    width: 16px;
                    height: 16px;
                    content: "";
                    background-color: #000;
                    @include border-radius(50%);
                }
                &:last-child {
                    &:before {
                        left: auto;
                        right: -16px;
                    }
                }
            }
        }
    }
    .activity-time {
        margin-bottom: 10px;
        text-align: center;
        font-size: $font14;
        line-height: $font20;
    }
    ul li {
        font-size: $font14;
        font-weight: 400;
        line-height: $font24;
    }
}

// 卫生局投票规则
.wsj-rule {
    margin-bottom: 14%;
    .index-box {
        width: -webkit-calc(100% - 40px);
        width: calc(100% - 40px);
        padding: 20px;
        background: #f3ddf3;
        .hart {
            width: 17.5%;
            position: absolute;
            top: -25px;
            left: -8px;
            img {
                width: 100%;
            }
        }
    }
}

// 投票时间，规则 金融系统 2017-08-10
.jr-rule {}

// 投票时间，规则 普法系统 2017-08-31
.pf-rule {
    margin-bottom: 30%;
    .index-box {
        width: -webkit-calc(100% - 40px);
        width: calc(100% - 40px);
        padding: 20px 20px 40px 20px;
        background: rgba(240, 187, 181, 0.55);
    }
}

// 普法系统 首页底部背景 2017-08-31
.pf-index-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 120px 0 80px 0;
    background: url(../images/pf_index_bj_bottom.png) no-repeat bottom;
    background-size: 100%;
    &.indxe-btn {
        .btn {
            position: absolute;
            bottom: 5.5vh;
            margin-left: -25%;
        }
    }
}

// 投票时间，规则 师德 2017-10-10
.sd-rule {
    width: 100%;
    img {
        display: block;
        width: 100%;
        margin: 0 auto;
    }
    .index-box {
        width: -webkit-calc(100% - 40px);
        width: calc(100% - 40px);
        padding: 20px 20px 40px 20px;
        color: #fff;
        background: rgba(240, 187, 181, 0);
        .index-box-title {}
    }
}

// 投票时间，规则 10月住建系统 2017-10-12
.zhuj-rule {
    margin-bottom: 30%;
    .index-box {
        width: -webkit-calc(100% - 40px);
        width: calc(100% - 40px);
        padding: 20px 20px 40px 20px;
        background: rgba(240, 187, 181, 0.55);
    }
}

// 投票时间，规则 12月旅游系统 2017-11-24
.lvyou-rule {
    z-index: 2;
    margin-bottom: 130px;
    .index-box {
        width: -webkit-calc(100% - 40px);
        width: calc(100% - 40px);
        padding: 20px 20px 40px 20px;
        background: rgba(0, 0, 0, .1);
    }
}

// 投票时间，规则 1月道德评选 2018-01-29
.daode-rule {
    z-index: 2;
    margin-bottom: 130px;
    .index-box {
        width: -webkit-calc(100% - 22px);
        width: calc(100% - 22px);
        padding: 20px 24px;
        background: rgba(255, 255, 255, .3);
    }
}

// 10月住建系统首页底部背景 2017-10-12
.zhuj-index-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 120px 0 80px 0;
    background: url(../images/zhuj_index_bg_bottom.png) no-repeat bottom;
    background-size: 100%;
    &.indxe-btn {
        .btn {
            position: absolute;
            bottom: 5.5vh;
            margin-left: -25%;
        }
    }
}

// 11月 2017-11-14
.zf-index-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 120px 0 80px 0;
    background-size: 100%;
    &.indxe-btn {
        .btn {
            position: absolute;
            bottom: 5.5vh;
            margin-left: -25%;
        }
    }
}

// 12月旅游系统首页底部背景 2017-11-24
.lvyou-index-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 120px 0 80px 0;
    background: url("../images/lvyou_index_bottom_bj.png") no-repeat bottom;
    background-size: 100%;
    &.indxe-btn {
        .btn {
            position: absolute;
            bottom: 5.5vh;
            margin-left: -25%;
        }
    }
}

.list-unstyled {
    p {
        margin: 0;
        font-size: $font14;
        font-weight: 400;
        line-height: $font24;
    }
}

/*-----------首页投票按钮----------*/

.indxe-btn {
    margin: 10px auto;
    text-align: center;
    .btn {
        width: 50%;
        height: 54px;
        font-size: 26px;
        line-height: 34px;
        font-weight: 400;
        color: #fff;
        letter-spacing: 2px;
    }
}

/*-----------投票页面 背景----------*/

.vote-body {
    background-image: url(../images/bj-top.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    background-color: #f3bc7c;
}

// 卫生局
.wsj-body {
    background: url(../images/wsj_bj_top2.jpg) no-repeat top center #f3bc7c;
    background-size: 100%;
    .container:first-child {
        width: 100%;
        margin-bottom: -20px;
        background: url(../images/wsj_bj_bottom2.jpg) no-repeat bottom center;
        background-size: 100%;
    }
    .logo {
        padding: 0;
    }
    .index-title {
        padding: 0;
    }
    .zbdy {
        margin: 20px -15px 35px -15px;
        img {
            margin-left: -50px;
        }
    }
}

//  投票页面   8月金融系统 2017-08-10
.jr-body {
    background: #f3bc7c;
    background-size: 100%;
    .container:first-child {
        width: 100%;
        margin-bottom: -20px;
        background: url(../images/jr_bg_top2.jpg) no-repeat bottom center;
        background-size: 100%;
        overflow: hidden;
    }
    .logo {
        padding: 15px 0 0 0;
    }
    .index-title {
        padding: 15px 0 0 0;
    }
    .zbdy {
        margin: 5px -15px 35px -15px;
        padding: 0 10.15625vw 0 12.8125vw;
        font-size: 12px;
        color: #ff372d;
        text-align: left;
        ul {
            padding: 0;
            li {
                list-style: none;
                display: flex;
                .zbdy-title,
                .zbdy-content {
                    display: block;
                    z-index: 0;
                    position: relative;
                    &:after {
                        z-index: -1;
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        content: attr(data-text);
                        -webkit-text-stroke: 2px #fff;
                    }
                }
                .zbdy-title {
                    width: 75px;
                }
                .zbdy-content {
                    width: -webkit-calc(100% - 75px);
                    width: calc(100% - 75px);
                }
            }
        }
        img {
            max-width: 100%;
        }
    }
}

//  投票页面   9月普法系统 2017-08-31
.pf-body {
    background: #f3bc7c;
    background-size: 100%;
    .container:first-child {
        width: 100%;
        margin-bottom: -20px;
        background: url(../images/pf_vote_bj_top2.jpg) no-repeat bottom center;
        background-size: 100% 100%;
        overflow: hidden;
    }
    .logo {
        padding: 10px 0 0 0;
    }
    .index-title {
        padding: 0;
    }
    .zbdy {
        margin: 10px -15px 25px -15px;
        img {
            margin-left: -10px;
        }
    }
}

//  投票页面   10月师德 2017-10-10
.sd-body {
    background: #f3bc7c;
    background-size: 100%;
    .container:first-child {
        width: 100%;
        margin-bottom: -20px;
        background-size: 100% 100%;
        overflow: hidden;
    }
    .logo {
        padding: 0;
    }
    .vote-box {
        .vote-title {
            padding: 25px 0 0 0;
        }
    }
}

#vote_num {
    z-index: 100;
    position: relative;
    margin-top: 20px;
    .vote-position {
        position: relative;
        left: 0;
        right: 0;
    } // 卫生局
    .wsj-vote-position {
        position: relative;
        left: 0;
        right: 0;
        background-color: #f3bc7c; // 投票种类
        .header-title {
            .col-cell {
                width: 100%;
                text-align: center;
                img {
                    max-width: 100%;
                }
                a {
                    transition: all .3s;
                    &.active {
                        background-color: #cd0000;
                    }
                }
            }
        } // 投票页面数量
        .vote-num {
            .col-cell {
                width: 100%;
                text-align: center;
            }
        }
    } // 2018-01-29 1月道德评选
    .daode-position {
        .header-title {
            .col-cell {
                a {
                    transition: all .3s;
                    &.active {
                        background-color: rgba(107, 3, 3, 0.5);
                    }
                }
            }
        }
        .vote-num{
            .col-cell{
                height: 36px;
                line-height: 36px;
                background-color: #fff;
            }
        }
    }
}

//投票种类
.header-title {
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    white-space: 2;
    background-color: #cd0000;
    @include box-shadow(0 1px 3px rgba(0,
    0,
    0,
    .6));
    .col-cell {
        width: -webkit-calc(100% / 5);
        width: calc(100% / 5);
        a {
            display: flex;
            position: relative;
            min-height: 50px;
            padding: 3px 0;
            text-align: center;
            justify-content: center;
            align-items: center;
            font-size: $font16;
            font-weight: 400;
            color: #fff;
            text-decoration: none;
            &.active,
            /*&:hover*/
                {
                background-color: #fff;
                color: #cd0000;
                /*text-shadow: 0 1px 1px rgba(255, 0, 0, .2);*/
            }
        }
    }
}

//投票页面数量
.vote-num {
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 36px;
    margin: 0 auto;
    padding: 8px 0;
    color: #e80005;
    line-height: $font30;
    font-weight: bold;
    text-align: center;
    background-color: rgba(255, 255, 255, .6);
    @include border-radius(3px);
    .col-cell {
        width: -webkit-calc(100% / 5);
        width: calc(100% / 5);
        text-align: center;
        vertical-align: middle;
        border-right: 1px solid #e80005;
        &:last-child {
            border-right: none;
        }
    }
}

/*-----------投票页面 投票列表----------*/

.vote-box {
    .vote-title {
        width: 100%;
        padding: 15px 0;
        text-align: center;
        font-size: $font20;
        canvas {
            margin-bottom: -5px;
            letter-spacing: 2px;
        }
        img {
            max-width: 100%;
        }
        &:not(:first-child) {
            margin-top: -20px;
        }
    }
    .vote-list {
        .col-xs-4 {
            width: 32%;
        }
        ul {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
        }
        ul li {
            margin: 0 .5% 20px .7%;
            padding: 0 0 5px 0;
            list-style: none;
            font-size: $font14;
            color: #fff;
            border: 4px solid rgba(255, 255, 255, 1);
            .picture {
                //				height: 125px;
                overflow: hidden;
                img {
                    width: 100%;
                }
            }
            .content {
                ol li {
                    padding: 5px 2px 0 2px;
                    margin: 0;
                    line-height: 18px;
                    list-style: none;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    border: none;
                    &:first-child {
                        letter-spacing: -1px;
                    }
                    &.note,
                    &:last-child {
                        //						display: flex;
                        height: 56px;
                        line-height: 18px;
                        text-overflow: inherit;
                        white-space: normal; //						-webkit-box-orient: vertical;
                        //						-webkit-line-clamp: 2;
                        overflow: hidden;
                    }
                }
            }
            .btn-box {
                margin-top: 10px;
                text-align: center;
            }
        }
    } //投票提交按钮
    .button-box {
        margin: 20px 0;
        .btn {
            font-size: 26px;
            line-height: 30px;
            font-weight: 500;
            letter-spacing: 4px;
        }
    } // 卫生局
    .wsj-vote-list {
        margin-top: 20px;
        ul li {
            border: 2px solid #f9ca4f;
        }
    }
}

/*---------留言内容--------*/

.message-submit {
    margin-top: 20px;
    .col-xs-3 {
        padding-left: 10px;
        padding-right: 10px;
    }
    .control-label {
        line-height: 34px;
    }
}

.vote-message {
    width: 96%;
    margin: 20px auto;
    padding: 10px;
    height: 480px;
    background-color: #fff;
    overflow-y: auto;
    a {
        text-decoration: none;
    }
    ul li {
        margin-bottom: $font20;
        color: #000;
        font-size: $font16;
        line-height: $font20;
        list-style: none;
        &.content {
            text-indent: $font30;
        }
    }
}

/*---------广告图片--------*/

.vote-advert {
    width: 100%;
    img {
        width: 100%;
    }
}

/*---------投票排行榜--------*/

.vote-ranking {
    width: 100%;
    font-family: "黑体";
    font-weight: bold;
    color: #000;
    background-color: #f3b77b;
    .ranking-title {
        display: flex;
        align-items: center;
        padding: 1rem 0 .5rem 0;
        text-align: center;
        @extend .btn-bgcolor;
        .text-gradient {
            @include text-gradient;
            canvas {
                margin: 0 0 -22px 0;
                text-align: center;
                letter-spacing: 2px;
            }
        }
        img {
            max-width: 100%;
        }
    }
    .ranking-content {
        width: 100%;
        font-size: $font16;
        font-weight: bold;
        a {
            text-decoration: none;
        }
        ul li {
            padding: 5px 0;
            border-bottom: 1px dashed #fff;
            list-style: none;
            &:last-of-type {
                border-bottom: none;
            }
            ol {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            ol li {
                text-align: center;
                list-style: none;
                border-bottom: none;
                line-height: 1.2;
                color: #fff;
                &:nth-child(1) {
                    width: 70px;
                    padding-left: 5px;
                }
                &:last-of-type {
                    width: 110px;
                    padding-right: 10px;
                    text-align: right;
                }
            }
        } //			&:not(:nth-child(2)) {
        //				ul li {
        //					
        //					overflow: hidden;
        //					ol li {
        //						&:nth-child(3) {
        //							text-align: left;
        //						}
        //					}
        //				}
        //			}
    }
}

/*-----弹出样式-----*/

.pop_bg {
    z-index: 101;
    display: none;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.pop_bg .pop_main {
    position: absolute;
    width: 90%;
    left: 5%;
    top: 40px;
}

.pop_bg .pop_main .pop_close {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 3px 3px 1px 3px;
    color: #FFF;
    background-color: #F00;
    @include border-radius(4px);
}

/*弹出样式 END*/

/*-----投票个人详情-----*/

.vote-details {
    width: 94%;
    margin: 0 auto;
    padding: 50px 0 40px 0; //个人详情头部
    .personal-header {
        width: 100%;
        overflow: hidden;
        img {
            width: 100%;
        }
        ul {
            margin-right: -$font30;
            li {
                margin-bottom: 8px;
                font-size: $font16;
                font-family: "黑体";
                font-weight: 600;
                color: #000;
                line-height: 18px;
                list-style: none;
                &.title {
                    margin-right: -$font20;
                    font-weight: bold;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
                .left {
                    float: left;
                    width: 70px;
                }
                .right {
                    float: right;
                    width: -webkit-calc(100% - 70px);
                    width: calc(100% - 70px);
                }
            }
        }
        .btn {
            width: 110px;
            font-size: 18px;
        }
    } //事迹、简介、评论
    .deeds-profile {
        margin-top: 20px;
        .title {
            height: 40px;
            font-size: $font30;
            color: #000;
            line-height: 40px;
            .btn {
                width: 140px;
                font-family: "黑体";
                font-size: $font18;
            }
        }
        .content {
            padding-top: 20px;
            font-size: $font14;
            line-height: $font20;
            &2 {
                padding-top: 20px;
                font-size: $font16;
                line-height: 26px;
            }
            ul li {
                list-style: none;
                font-size: 18px;
                color: #000;
                line-height: $font30;
            }
        }
    } //工作、推荐单位
    .company {
        margin-top: 20px;
        font-size: $font14;
        color: #000;
        line-height: $font30;
    }
}

/*-----------投票详情页面 背景----------*/

.details-body {
    background-image: url(../images/bj-top2.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    background-color: #f2ba7e;
}

.details-waper {
    //头部标题
    .details-title {
        padding: 10% 0;
        text-align: center;
        .top-text {
            @include text-gradient;
            font-size: $font20;
            text-shadow: 1px 1px 0 rgba(4, 0, 0, .1); //						 -1px -1px rgba(4, 0, 0,.1);
        }
        .text-gradient {
            @include text-gradient;
            font-size: $font30;
            line-height: 48px;
            text-shadow: 1px 1px 0 rgba(4, 0, 0, .1);
        }
    } //投票详情页面列表 
    .details-box {
        background-image: url(../images/bj-bottom2.jpg);
        background-repeat: no-repeat;
        background-position: bottom right;
        background-size: 100%; //投票详情页面列表 头部
        .list-title {
            padding: 10px 0;
            text-align: center;
            background-color: #e90004;
            letter-spacing: 5px;
            .title {
                @include text-gradient;
                font-size: 24px;
                text-shadow: 1px 1px 0 rgba(4, 0, 0, .1);
            }
        } //投票详情页面列表 列表框
        .list-box {
            padding: 24px 0 0 0;
            ul li {
                margin-bottom: 20px;
                list-style: none;
                color: #000;
                img {
                    width: 100%;
                }
                ol li {
                    margin-bottom: 8px;
                    list-style: none;
                    .btn {
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    img {
        display: inline-block;
        height: 25px;
        margin-left: 5px;
        vertical-align: middle;
    }
}